* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.clear {
    clear: both !important;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.btn {
    margin-top: 15px;
    background: black;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    border: none;
    font-size: 15px;
    -webkit-appearance: none;
}

.btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

/* Main */
#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#nav .subnav a {
    padding: 0 16px;
    color: black;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header #search-btn {
    float: right;
    padding: 0 23px;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: black;
}

#header #search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon {
    color: white;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat ;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
    font-weight: bolder;
    text-shadow: 0 0 2px black;
}


#content {

}

/* About section */
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 46px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
#content .tour-section {
    background-color: black;
}

.tickets-list {
    margin-top: 40px;
    background-color: white;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #ffffff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    color: white;
    background-color: black;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 32px;
    margin-bottom: 47px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 700;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-description {
    margin-top: 25px;
    line-height: 1.4;
}

/* Modal */
.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    position: relative;
    width: 900px;
    background: white;
    animation: modalFadeIn ease 0.5s;
    max-width: calc(100% - 64px);
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-close:hover {
    background: #ccc;
    color: black;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 11px;
    padding: 19px;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-body label {
    display: block;
    margin-bottom: 10px;
}

.modal-body input {
    margin-bottom: 16px;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

.modal-buy-btn:hover {
    background: #ccc;
    color: black;
    cursor: pointer;
}
.modal-buy-btn {
    border: none;
    background: #009688;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 19px;
}

.modal-help {
    float: right;
    margin-top: 32px;
    margin-bottom: 32px;
}

.modal-help a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a {
    color: #000eee;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    float: right;
    background: black;
    color: white;
    font-size: 15px;
    padding: 11px 15px;
    border: none;
}

.contact-form .form-submit-btn:hover {
    cursor: pointer;
    background: #ccc;
    color: black;
}

/* Map */
.map-section img {
    width: 100%;
    display: block;
}

/* Footer */
#footer {
    padding: 64px 0;
    text-align: center;
    background: #f1f1f1;
}

#footer .social-medias-list a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .social-medias-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}